/* CSS code for the project goes here */

nav {
width: 98.5%;
position: absolute;
left: 0%;
top: 0px;
height: 35px;
padding: 10px;
background: #AB47BC;
border-radius: 0px;

box-shadow: 0 8px 6px -6px grey;
z-index: 999;

}



#btn{
    float: right;
    background: white;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    transition: .5s ease-in-out;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
   
}
#btn:hover{
    transition: 0.9;
     -webkit-transform: rotateZ(720deg);
      -moz-transform: rotateZ(720deg);
      transform: rotateZ(720deg);
    cursor: pointer;
}

#btn:active{
    transform: scale(0.2);
    opacity: 0.7;
}
#scroll{
    width: 100%;
    opacity: 0.9;
    position: relative;
    height: 0px;
    top: 50px;
    background: black;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3) ;
    z-index: 9999;
    margin: 0 auto;
    
}

#box
{
    
    position: relative;
    width: 50%;
    height: 0px;
    opacity: 1;
    background: #FFFFFF;
    z-index: 9999;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3) ;
    
}
.scrollbox{
  -webkit-animation: myframes 3s ease;
  animation: myframes 1s ease;
    
    animation-fill-mode: forwards;
    

}

#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    color: black;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;
}


.scrollpage{
    -webkit-animation: myframes1 3s ease;
  animation: myframes1 1s ease;
    
    animation-fill-mode: forwards;
}

@-webkit-keyframes myframes {
  0% {
    height: 0px;
  }
  100% {
    height: 400px;
  }
  
 
}

@keyframes myframes {
  0% {
    height: 0px;
  }
  100% {
    height: 400px;
  }
  
  
}

@-webkit-keyframes myframes1 {
  0% {
    height: 0px;
  }
  100% {
    height: 600px;
  }
  
 
}

@keyframes myframes1 {
  0% {
    height: 0px;
  }
  100% {
    height: 600px;
  }
  
  
}

/*nav bar ends*/


.workspace {
    position: absolute;
    top: 65px;
    right: 10px;
    left: 50px;
    bottom: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
	margin: 0px auto 0px auto;
	padding: 5px;
    background-color: yellow;
    z-index: 0;
}
.editor, .previewspace {
	
    position: absolute;
}

.editor{
    right: 67%;
    left: 7px;
    top:7px;
    bottom: 3px;
    padding-bottom: 5px;
}

.previewspace{
    
    right: 7px;
    left: 36%;
    bottom: 7px;
    top:7px;
}



#html{
    position: relative;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	background-color: #FF3D00;
	padding:2px 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
}



#css{
    position: relative;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	background-color: #039BE5;
	padding:2px 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
}


#javascript{
    position: relative;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    background-color: limegreen;
	padding:2px 5px;
	
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
}
 


pre[contenteditable = "true"] {
	padding: 10px;
	margin: 0px auto;
	width: auto;
	position: absolute;
    left:5px;
    right: 5px;
    bottom: 5px;
    top: 30px;
    overflow: auto;
	font-size: 16px ;
    font-family: cursive;
	background: white;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    color: black;
}

pre[contenteditable = "true"]:focus {
    
    outline: none;
    box-shadow: inset 1px 1px 7px rgba(0,0,0,0.7);
}



.editor h3 {
	font: 18px Tahoma;
	display: inline-block;
    padding: 0px;
    margin: 3px;
}

div.editor i{
    
    display: inline-block;
    padding: 0px;
    margin: 3px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    border-radius: 20px;
}

div.editor i:active{
    
    box-shadow: none;
    
}




iframe {
    border : none;
	width: 100%;
	height: 100%;
	margin: auto;
    background-color: white;
    box-shadow: 6px 6px 18px rgba(0,0,0,0.8);
}
.trigger{
    -webkit-animation: ClockwiseSpin 1s;
    animation: ClockwiseSpin 1s;
    
}
@keyframes ClockwiseSpin{
    0%{transform: rotate(45deg);}
    20%{width: 5px; height:5px;}
    80%{top: }
    100%{left: 2px;}
}