/* CSS code for the project goes here */


.workspace {
    position: absolute;
    top: 65px;
    right: 10px;
    left: 50px;
    bottom: 5px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	margin: 0px auto 0px auto;
	padding: 5px;
    background-color: #9E9E9E;
    display: flex;
    
}


.editor{
    display: inline-block;
    width:34%;
    padding-bottom: 5px;
    
}

.previewspace{
    
    display: inline-block;
    width: 64%;
    margin-bottom: 1%;
    margin-left:1.5%;
}



#html{
    position: relative;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	background-color: #FF3D00;
	padding:2px 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
    min-width:10%;
    min-height: 10%;
    
    
}



#css{
    position: relative;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	background-color: #039BE5;
	padding:2px 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
    min-width:10%;
    min-height: 10%;
}


#javascript{
    position: relative;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    background-color: limegreen;
	padding:2px 5px;
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
    min-width:10%;
    min-height: 10%;
}
 


pre[contenteditable = "true"] {
	padding: 10px;
	margin: 0px auto;
	width: auto;
	position: absolute;
    left:5px;
    right: 5px;
    bottom: 5px;
    top: 30px;
    overflow: auto;
	font-size: 16px ;
    font-family: cursive;
	background: white;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    color: black;
}

pre[contenteditable = "true"]:focus {
    
    outline: none;
    box-shadow: inset 1px 1px 7px rgba(0,0,0,0.7);
}



.editor h3 {
	font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 0px;
    margin: 3px;
}

div.editor i{
    
    display: inline-block;
    padding: 0px;
    margin: 3px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    border-radius: 20px;
}

div.editor i:active{
    
    box-shadow: none;
    
}

iframe {
    border : none;
	width: 100%;
	height: 100%;
	margin: auto;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
}

.max-min-container{
    
    height: 30px;
    width: 30px;
    position: absolute;
    top:1px;
    right:1px;
    z-index: 100;
    background-color: grey;
    opacity: 0.4;
    transition: opacity 600ms;
    border-radius: 2px;
    
}
.iframe-max-min{
    height: 55%;
    width: 55%;
    margin: 2px auto 2px auto;
    border-width: 3px;
    border-style: dashed;
    border-color: white;
    
}

div.max-min-container:hover{
    
    opacity: 0.9;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
}

div.max-min-container:active{
    box-shadow: none;
}

/*=======================================*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #e0e0e0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb:active {
    background: #bdbdbd;
    box-shadow: none;
}
/* scroll bar*/
/* Navbar styling*/
nav {
position: absolute;
left: 0%;
right: 0%;    
top: 0px;
height: 35px;
padding: 10px;
background: #AB47BC;
border-radius: 0px;
z-index: 999;

}



#btn{
    float: right;
    background: white;
    padding: 5px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);

}

#btn:active{
    box-shadow: 0px 0px 2px rgba(0,0,0,0.8);
}

#btn i:hover{
    transition: all 400ms;
    transform: rotate(90deg);
}

#btn i:active{
    transition: all 400ms;
    transform: scale(0.8);
}

#box
{
    position: relative;
    width: 600px;
    height: 0px;
    margin: auto;

    opacity: 1;
    background: #FFFFFF;
    z-index: 9999;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3) ;
    top: 50px;
}
/*Animates the box in */
.scrollbox{
  -webkit-animation: myframes 3s ease;
   animation: myframes .8s ease; 
   animation-fill-mode: forwards;
}

/*the animation keyframe for scrollbox*/
@-webkit-keyframes myframes {
  0% {
    height: 0px;  
  }
  100% {
    height: 500px;
  }
}
/*fixing compatibility issues*/
@keyframes myframes {
  0% {
    height: 0px;  
    transform: rotateY(90deg);    
  }
  100% {
    height: 500px;
  } 
}

#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.8;
    color: black;
    z-index    : 5;
    display    : none;
}

/*nav bar ends*/