/* CSS code for the project goes here */


.workspace {
    position: absolute;
    top: 65px;
    right: 10px;
    left: 50px;
    bottom: 5px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	margin: 0px auto 0px auto;
	padding: 5px;
    background-color: rgba(250,250,250,1);
    display: flex;
    
}


.editor{
    display: inline-block;
    width:34%;
    padding-bottom: 5px;
}

.previewspace{
    
    display: inline-block;
    width: 64%;
    margin-bottom: 1%;
    margin-left:1.5%;
}



#html{
    position: relative;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	background-color: #FF3D00;
	padding:2px 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
}



#css{
    position: relative;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	background-color: #039BE5;
	padding:2px 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
}


#javascript{
    position: relative;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    background-color: limegreen;
	padding:2px 5px;
	
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
}
 


pre[contenteditable = "true"] {
	padding: 10px;
	margin: 0px auto;
	width: auto;
	position: absolute;
    left:5px;
    right: 5px;
    bottom: 5px;
    top: 30px;
    overflow: auto;
	font-size: 16px ;
    font-family: cursive;
	background: white;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    color: black;
}

pre[contenteditable = "true"]:focus {
    
    outline: none;
    box-shadow: inset 1px 1px 7px rgba(0,0,0,0.7);
}



.editor h3 {
	font: 18px Tahoma;
	display: inline-block;
    padding: 0px;
    margin: 3px;
}

div.editor i{
    
    display: inline-block;
    padding: 0px;
    margin: 3px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    border-radius: 20px;
}

div.editor i:active{
    
    box-shadow: none;
    
}

iframe {
    border : none;
	width: 100%;
	height: 100%;
	margin: auto;
    background-color: white;
    box-shadow: 6px 6px 18px rgba(0,0,0,0.8);
}

/*=======================================*/
::-webkit-scrollbar {
    width: 2.4%;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #e0e0e0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb: active {
    background: #bdbdbd;
    box-shadow: none;
}

/* Navbar styling*/
nav {
width: 98.5%;
position: absolute;
left: 0%;
top: 0px;
height: 35px;
padding: 10px;
background: #AB47BC;
border-radius: 0px;

box-shadow: 0 8px 6px -6px grey;
z-index: 999;

}



#btn{
    float: right;
    background: white;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    transition: .5s ease-in-out;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.8);

}


#btn:active{
    transform: scale(0.9);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.8);
}
#scroll{
    width: 100%;
    opacity: 0.97;
    position: relative;
    height: 0px;
    top: 50px;
    background: grey;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3) ;
    z-index: 9999;
    margin: 0 auto;
    
}
#box
{
    
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 0px;
    opacity: 1;
    background: #FFFFFF;
    z-index: 9999;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3) ;
    
}
#overlay-back {
    position   : absolute;          /*new characteristics to div for fade in*/
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    color: black;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;
}
.scrollbox{
  -webkit-animation: myframesbox 3s ease;
  animation: myframesbox 1s ease;
    
    animation-fill-mode: forwards;
    

}
.scrollpage{
    -webkit-animation: myframesscroll 3s ease;
  animation: myframesscroll 1s ease;
    
    animation-fill-mode: forwards;
}

@-webkit-keyframes myframesbox {
  0% {
    height: 0px;
  }
  100% {
    height: 400px;
  }
  
 
}

@keyframes myframesbox {
  0% {
    height: 0px;
  }
  100% {
    height: 400px;
  }
  
  
}

@-webkit-keyframes myframesscroll {
  0% {
    height: 0px;
  }
  100% {
    height: 600px;
  }
  
 
}

@keyframes myframesscroll {
  0% {
    height: 0px;
  }
  100% {
    height: 600px;
  } 
}
/*nav bar ends*/
