/* CSS code for the project goes here */
.workspace {
	position: absolute;
    top: 50px;
    right: 10px;
    left: 50px;
    bottom: 5px;
	background: rgb(50, 50, 50);
	margin: 0px auto 0px auto;
	padding: 5px;
}
.editor, .previewspace {
	float: left;
}

.editor{
    width: 33%;
    height: 99%;
    padding-bottom: 5px;
}

.previewspace{
    
    width: 63.8%;
    margin-left: 2.4%;
    height: 98.9%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.clear{
    
    clear: both;
    
}

#html, #css, #javascript {
	background: grey;
	padding:2px 5px;
	margin: 5px;
	border-radius: 4px;
	color: white;
    width: 100%;
    height: 32%;
}
div[contenteditable = "true"] {
	padding: 10px;
	margin: 0px auto;
	width: auto;
	height: 73%;
	font: 20px ;
	color: black;
	background: rgb(250, 250, 250);
	overflow: auto;
}
.editor h3, .editor > i {
	font: 18px Tahoma;
	display: inline-block;
    padding: 0px;
    margin: 3px;
}


iframe {
    border : none;
	width: 100%;
	height: 100%;
	margin: auto;
    background-color: white;
}
